<div class="jumbotron">
  <div class="container">
      <h3>Agenda Centauro </h3>
      <hr />
      <div class="row">
          <div class="panel panel-primary filterable">
            <div class="panel-heading">
              <h3 class="panel-title">Users</h3>
            </div>
            <table id="mytable" class="table table-bordred table-striped">
                        
              <thead>      
                <th></th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Teléfono</th>
                <th>Extención</th>
                <th>Empresa</th>
                <th>Edit</th>             
                <th>Delete</th>
              </thead>

              <tbody>
                <tr ng-repeat="user in users" ng-disabled="user.valor">
                    <td><input  onclick="disableTxt()" type="checkbox" class="checkthis" ng-model="user.valor" ng-change="users.$save(user)"/></td>
                    <td><input  Enabled="true" id="user{{user.valor}}" type="text" placeholder="Nombre" class="form-control" ng-model="user.valor"></td>
                    <td><input  type="text" placeholder="Apellido" class="form-control" ng-model="user.apellido"></td>
                    <td><input  type="text" placeholder="Teléfono" class="form-control" ng-model="user.telefono"></td>
                    <td><input  type="text" placeholder="Extención" class="form-control" ng-model="user.extencion"></td>
                    <td><input  type="text" placeholder="Empresa" class="form-control" ng-model="user.empresa"></td>
                    <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button  value=""class="btn btn-primary" id="btn-cambios" data-title="Edit" data-toggle="modal" data-target="#edit" ng-click="user.valor='false';users.$save(user);"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                    <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button  class="btn btn-danger"  id="btn-cambios" data-title="Delete" data-toggle="modal" data-target="#delete" ng-click="users.$remove(user);"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                </tr>
              </tbody> 

            </table>
            <hr />
          </div>          
      </div>
  </div>
</div>
<script>
function disableTxt() {

      document.getElementById("usertrue").disabled = true;
     // console.log(document.getElementById("usertrue").id;
    
    
}

function undisableTxt() {
    document.getElementById("myText").disabled = false;
  }
</script>